<div class="similar-products" *ngIf="similarProducts.length > 0">
  <h2>Similar Products</h2>
  <div class="product-slider">
    <div *ngFor="let product of similarProducts" class="similar-product-card">
      <a [routerLink]="['/product', product.id]">
        <img [src]="product.imageUrl" [alt]="product.name" class="product-image">
        <div class="product-info">
          <span class="product-name">{{ product.name }}</span>
          <span class="product-price">{{ product.price | currency:'MXN':'symbol':'1.0-0' }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
