.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-top: 0.3px solid black;
  width: 100%;
  padding: 10px;
}

.footer-title {
  font-size: 2em;
  margin-bottom: 0;
}

.footer-name {
  font-size: 16px;
}

.footer-copyright {
  margin-top: 0;
font-size: 1em;
}
