<header class="header">
  <div class="logo-container">
    <a routerLink="/">
      <img [src]="logoPath" alt="Logo" class="logo" />
    </a>
  </div>

  <nav class="nav">
    <div class="nav-right">
      <form (ngSubmit)="handleSearch($event)" class="search-form">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          name="searchQuery"
          placeholder="Search for treatments..."
          class="search-input"
          (keyup.enter)="handleSearch($event)"
        >
      </form>
    </div>


  </nav>
</header>
