<main>
  <section class="hero">
    <h1>Prices</h1>
  </section>

  <section class="treatments">
    <a class="treatment-card" [routerLink]="['/dermaplaning']">
      <h2>Dermaplaning</h2>
      <p>$800 MXN</p>
    </a>
    <a class="treatment-card" [routerLink]="['/basicfacial']">
      <h2>Basic Facial</h2>
      <p>$600 MXN</p>
    </a>
    <a class="treatment-card" [routerLink]="['/microneedling']">
      <h2>Microneedling</h2>
      <p>$1200 MXN</p>
    </a>
    <a class="treatment-card" [routerLink]="['/plasmapen']">
      <h2>Plasma Pen</h2>
      <p>$1500 MXN</p>
    </a>
  </section>
</main>
