<div class="product-detail" *ngIf="product">
  <img [src]="product.hoverImageUrl" [alt]="product.name" class="product-image">
  <div class="product-info">
    <h1>{{ product.name }}</h1>
    <p class="price">{{ product.price | currency:'$MXN ':'symbol':'1.0-0' }}</p>
    <p class="description">{{ product.description }}</p>
    <button (click)="addToCart(product)" class="add-to-cart">Add to Cart</button>
  </div>
</div>

<app-similar-products [category]="product?.category" [excludeId]="product?.id"></app-similar-products>
