<div class="treatment-page">
  <div class="hero" [style.background-image]="'url(' + treatmentImage + ')'">
    <h1>{{ treatmentName }}</h1>
  </div>

  <div class="treatment-content">
    <h2>What is {{ treatmentName }}?</h2>
    <p>{{ treatmentDescription }}</p>


    <h3>Benefits of {{ treatmentName }}</h3>
    <div class="benefits">
      <p *ngFor="let benefit of treatmentBenefits">{{ benefit }}</p>
    </div>

    <h3>Procedure</h3>
    <p>{{ treatmentProcedure }}</p>

    <h3>Aftercare</h3>
    <div class="aftercare">
      <p *ngFor="let care of treatmentAftercare">{{ care }}</p>
    </div>

    <h3>Price</h3>
    <p>{{ treatmentPrice }}</p>


<button (click)="bookTreatment()">Book Now</button>
  </div>
</div>
