.hero {
  background-size: cover;
  background-position: center;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero h1 {
  font-size: 4em;
}

.treatment-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
text-align: center;
font-size: 1.3em;
}


button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #023011;
}
.benefits p, .aftercare p {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.benefits p::before, .aftercare p::before {
  content: "";
  position: absolute;
  left: 0;

}
